# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=your_app_keys_here,separated,by,commas
API_TOKEN_SALT=your_api_token_salt_here
ADMIN_JWT_SECRET=your_admin_jwt_secret_here
TRANSFER_TOKEN_SALT=your_transfer_token_salt_here

# Database
DATABASE_CLIENT=sqlite
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL=
DATABASE_FILENAME=.tmp/data.db

# JWT Secret (Same as Next.js)
JWT_SECRET=your_jwt_secret_here

#Email

SMTP_HOST=smtp.postmarkapp.com
SMTP_PORT=587
SMTP_USERNAME=  # Use the API key from your Postmark account
SMTP_PASSWORD=  # Use the API key from your Postmark account
SMTP_SECURE=false
SMTP_FROM=  # Your verified Postmark email address
SMTP_REPLY_TO=  # Your verified Postmark email address
